@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900");
/* ----------------Text Fonts ------------------- */
body {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #838383;
  font-style: normal;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #18181c;
  line-height: 1.3;
}


p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 15px;
  line-height: 24px;
  font-weight: 400;
  color: #838383;
}
p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: #838383;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

ul.nosyely_list {
  padding: 0;
  margin: 0;
  list-style: none;
}


.bg-img {
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.bg-img .overlay_dark {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.text-muted {
  color: #868e96 !important;
  font-size: 14px;
  line-height: 2.1;
}


img {
  max-width: 100%;
}


/* ----------------colors------------------- */
.color-light {
  color: #ffffff;
}

.bg-light {
  background-color: #ffffff;
}


/* --------------PADDING STYLE-------------- */

.pb70 {
  padding-bottom: 70px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

/*  ----------------------------------------------------
2. HEADER
-------------------------------------------------------- */
header {
  min-height: 50px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
header .menu {
  position: relative;
}
header .logo {
  padding-top: 0;
  padding-bottom: 0;
}
header .logo img {
  float: left;
  max-width: 160px;
  margin-right: 3px;
}
header ul.menu li a.nav-link {
  padding: 20px 12px !important;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
}
header ul.menu li a.nav-link:hover {
  color: #f50136;
}
header ul.menu .search_btn {
  padding: 16px 8px !important;
  color: #ffffff;
}
header ul.menu .search_btn a {
  font-size: 30px;
}
header li ul {
  display: none;
  visibility: hidden;
}
header li ul.sub_menu {
  position: absolute;
  background: #333333;
  min-width: 250px;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 42px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 1px 42px rgba(0, 0, 0, 0.08);
}
header li ul.sub_menu li {
  display: block;
}
header li ul.sub_menu li a {
  color: #999999 !important;
  padding: 7px 10px;
  display: block;
  margin-left: 0;
  line-height: 22px;
  word-break: break-word;
}
header li ul.sub_menu li a:hover {
  color: #ffffff !important;
  transform: translate3d(2px, 0, 0);
  -webkit-transform: translate3d(2px, 0, 0);
}

.navbar {
  padding: 0;
}

header.sticky_header {
  background-color: #18181c;
  margin: 0;
  padding: 5px;
  -webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 42px rgba(0, 0, 0, 0.08);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.navbar-toggler {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 22px;
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 !important;
          box-shadow: 0 0 0 !important;
  cursor: pointer;
  border-radius: 2px;
}

/*  ----------------------------------------------------
3 Footer
-------------------------------------------------------- */
footer {
  padding: 50px 0 100px;
  background-color: #0b031b;
}
footer .footer_box {
  position: relative;
  margin-top: 50px;
}
footer .footer_box h4.footer_title {
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 18px;
  color: #ffffff;
}
footer .footer_box h4.footer_title:before {
  width: 30px;
  content: " ";
  position: absolute;
  border-top: solid 3px #f50136;
  left: 0;
  top: 0;
}
footer .footer_header {
  margin-bottom: 30px;
}
footer .footer_social {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer_social li {
  display: inline-block;
  margin: 5px;
}
footer .footer_social li a {
  border: solid 1px #f50136;
  display: block;
  border-radius: 50px;
  padding: 7px 0;
  font-size: 24px;
  color: #f50136;
  width: 40px;
  height: 40px;
  text-align: center;
}
footer .footer_social li a:hover {
  background-color: #f50136;
  color: #ffffff;
}
footer ul.instagram_list {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer ul.instagram_list li {
  display: inline-block;
  width: 30%;
  margin: 0 0 2% 2%;
  float: left;
}
footer .newsletter_form .form-control {
  background-color: #1f1039;
  border: solid 1px #1f1039;
  font-weight: 500;
  color: #ffffff;
}

.copyright_footer {
  background-color: #080113;
  padding: 15px;
}
.copyright_footer p {
  font-size: 13px;
  padding: 10px;
  text-transform: capitalize;
  color: #ffffff;
}
.copyright_footer ul.footer_menu {
  padding: 0;
  margin: 0;
  list-style: none;
  direction: rtl;
}
.copyright_footer ul.footer_menu li {
  display: inline-block;
}
.copyright_footer ul.footer_menu li a {
  padding: 10px;
  text-transform: capitalize;
  color: #838383;
}
.copyright_footer ul.footer_menu li a:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .copyright_footer {
    text-align: center;
  }
}
/*  ----------------------------------------------------
4 buttons
-------------------------------------------------------- */
.btn {
  font-size: 12px;
  line-height: 1.7;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  padding: 12px 40px;
  border-radius: 0;
  outline: 0 !important;
  border: none;
  cursor: pointer;
  background-color: #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn:hover {
  color: #18181c;
  background-color: #fff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn:focus {
  outline: 0 !important;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.btn-sm {
  padding: 10px 20px;
}

.btn-lg {
  padding: 18px 50px;
}

.btn_center {
  margin: 0 auto;
  display: block;
}

.btn.btn-shadow {
  -webkit-box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 3px 4px 5px 0 rgba(0, 0, 0, 0.09);
}
.btn.btn-shadow:hover {
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.09);
}

.btn-rounded {
  border-radius: 50px;
}

.btn-primary {
  background-color: #f50136;
  border: solid 1px #f50136;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-primary:hover {
  background-color: #18181c;
  color: #ffffff;
  border: solid 1px #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn-primary-outline {
  background-color: transparent;
  border: solid 1px #f50136;
  color: #f50136;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-primary-outline:hover {
  background-color: #f50136;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn-light {
  background-color: #ffffff;
  border: solid 1px #ffffff;
  color: #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-light:hover {
  color: #ffffff;
  border: solid 1px #18181c;
  background-color: #18181c;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.btn-dark {
  background-color: #333333;
  border: solid 1px #18181c;
  color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.btn-dark:hover {
  color: #18181c;
  border: solid 1px #ffffff;
  background-color: #ffffff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

/*  ----------------------------------------------------
7 Price box
-------------------------------------------------------- */
.price_box {
  position: relative;
  padding: 75px 30px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #f0f2f6;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.price_box .price_highlight {
  background-color: #f50136;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 15px;
  color: #fff;
}
.price_box .price_header h4 {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: 600;
}
.price_box .price_header h6 {
  font-size: 14px;
  text-transform: capitalize;
  color: #838383;
  font-weight: 400;
}
.price_box .price_tag {
  padding: 15px 0;
  text-transform: capitalize;
  color: #18181c;
  font-size: 48px;
  font-weight: 700;
}
.price_box .price_tag sup {
  font-size: 24px;
  font-weight: 400;
  top: -15px;
  left: -7px;
  color: #838383;
}
.price_box .price_features ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.price_box .price_features ul li {
  padding: 7px;
  font-size: 14px;
  font-weight: 400;
}
.price_box .price_footer {
  margin-top: 30px;
}
.price_box:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.price_box.active {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}



/*  ----------------------------------------------------
8 tabs
-------------------------------------------------------- */
.table.event_calender {
  position: relative;
  min-width: 1000px;
}
.table.event_calender thead.event_title {
  background-color: #f50136;
  color: #ffffff;
  border: 0;
}
.table.event_calender thead.event_title th {
  vertical-align: bottom;
  border: 0;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
}
.table.event_calender thead.event_title th i {
  font-size: 32px;
  float: left;
  line-height: 1;
}
.table.event_calender thead.event_title th span {
  margin-left: 10px;
  padding: 3px 0;
  display: inline-block;
}
.table.event_calender tbody {
  background-color: #f0f2f6;
}
.table.event_calender tbody td, .table.event_calender tbody th {
  padding: 30px 25px;
  border: 0;
  vertical-align: middle;
  text-align: center;
}
.table.event_calender tbody td img, .table.event_calender tbody th img {
  border-radius: 4px;
  display: block;
  max-width: 100px;
}
.table.event_calender tbody td.event_date {
  font-weight: 600;
  font-size: 30px;
  color: #000;
}
.table.event_calender tbody td.event_date span {
  display: block;
  font-weight: 400;
  font-size: 14px;
}
.table.event_calender tbody td.event_place h5 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 500;
}
.table.event_calender tbody td.event_place h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 0;
}
.table.event_calender tbody td.buy_link a {
  text-transform: capitalize;
  font-weight: 600;
  color: #f50136;
  text-decoration: underline;
  line-height: 24px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.table.event_calender tbody td.buy_link a:hover {
  color: #18181c;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}






/* Задаем сброс обтекания */
.clear {
  margin-top: -1px;
  height: 1px;
  zoom: 1;
}   
/* Slider */
.slider {
  /* Ширина контейнера */
  max-width: 100%;
  /* Внешние тступы сверху и снизу */
  margin: 50px auto;
  /* Внутренние отступы для ссылок navy */
  padding: 0 30px;
  /* Позиционирование */
  position: relative;
}
/* Двойной клик по кнопкам вперед/назад вызывает выделение всех элементов слайдера,
поэтому предотвращаем это */
.slider::-moz-selection { background: transparent; color: #fff; text-shadow: none; }
.slider::selection { background: transparent; color: #fff; text-shadow: none; }

.slide-list {
  position: relative;
  margin: 0;
  padding: 0;
  /* Скроем то что выходит за границы */
  overflow: hidden;
}
.slide-wrap {
  position: relative;
  left: 0px;
  top: 0;
  /* максимально возможная ширина обертки слайдера */
  width: 10000000px;
}
.slide-item {
  /* Ширина слайда */
  max-width: 100%;
  /* Внутренние отступы */
  padding: 10px;
  /* Обтекание */
  float: left;
}
.slide-title {
  /* Шрифт */
  font: bold 16px monospace;
  /* Указываем, что элемент блочный */
  display: block;
}



/* навигация вперед/назад */
.navy {
  /* абсолютное позиционирование */
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  /* ширина элементов */
  width: 30px;
  cursor: pointer;
}
.prev-slide {
  left: 0;
  background: #dbdbdb url(bg/left-arrow.png) 11px 40% no-repeat;
}
.next-slide {
  right: 0;
  background: #dbdbdb url(bg/right-arrow.png) 13px 40% no-repeat;
}
.navy.disable {
  background: #dbdbdb;
}
/* навигация старт/пауза */
.auto {
  width: 7px;
  height: 11px;
  cursor: pointer;
  margin: 10px auto;
}
.play {
  background: url(bg/play.png) center no-repeat;
}
.pause {
  background: url(bg/pause.png) center no-repeat;
}



.lnr {
  font-family: 'Linearicons-Free';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.lnr-heart:before {
    content: "\2764";
}

*, *::before, *::after {
    box-sizing: border-box;
}

.lnr-bubble:before {
    content: "\270E";
}

*, *::before, *::after {
    box-sizing: border-box;
}

.heart {
  padding-top: 15px;
}