@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900")

/* ----------------Text Fonts -------------------
$body-color: $body-color;
$white: $white; 
$dark: $dark;
$black: $black;
$table: $table;
body
  font-size: 14px
  line-height: 25px
  font-weight: 400
  font-family: "Montserrat", sans-serif
  color: $body-color
  font-style: normal
  overflow-x: hidden

h1, h2, h3, h4, h5, h6
  font-family: "Montserrat", sans-serif
  font-weight: 700
  color: $dark
  line-height: 1.3

p
  font-size: 14px
  font-family: "Montserrat", sans-serif
  margin: 0 0 15px
  line-height: 24px
  font-weight: 400
  color: $body-color
  &:last-child
    margin-bottom: 0

a
  color: inherit
  text-decoration: none
  cursor: pointer
  font-size: 13px
  font-weight: 400
  -webkit-transition: all 0.4s ease-in-out
  transition: all 0.4s ease-in-out
  &:hover, &:focus, &:active
    text-decoration: none
    outline: none
    color: $body-color
    -webkit-transition: all 0.4s ease-in-out
    transition: all 0.4s ease-in-out

/* ----------------colors-------------------

.color-light
  color: $white

.bg-light
  background-color: $white

/* --------------PADDING STYLE--------------

.pb70
  padding-bottom: 70px !important

.pb100
  padding-bottom: 100px !important

/*  ----------------------------------------------------
 *4 buttons
 *--------------------------------------------------------

.btn
  font-size: 12px
  line-height: 1.7
  text-transform: uppercase
  color: $white
  font-weight: 500
  padding: 12px 40px
  border-radius: 0
  outline: 0 !important
  border: none
  cursor: pointer
  background-color: $dark
  -webkit-transition: all 300ms ease-in-out
  transition: all 300ms ease-in-out
  &:hover
    color: $dark
    background-color: $white
    -webkit-transition: all 300ms ease-in-out
    transition: all 300ms ease-in-out
  &:focus
    outline: 0 !important
    -webkit-box-shadow: 0 0 0 $black
    box-shadow: 0 0 0 $black

.btn-sm
  padding: 10px 20px

.btn-lg
  padding: 18px 50px

.btn_center
  margin: 0 auto
  display: block

.btn.btn-shadow
  -webkit-box-shadow: 3px 4px 5px 0 $black
  box-shadow: 3px 4px 5px 0 $black
  &:hover
    -webkit-box-shadow: 1px 1px 1px 0 $black
    box-shadow: 1px 1px 1px 0 $black

.btn-rounded
  border-radius: 50px

.btn-primary
  background-color: $table
  border: solid 1px $table
  color: $white
  -webkit-transition: all 300ms ease-in-out
  transition: all 300ms ease-in-out
  &:hover
    background-color: $dark
    color: $white
    border: solid 1px $dark
    -webkit-transition: all 300ms ease-in-out
    transition: all 300ms ease-in-out

.btn-primary-outline
  background-color: transparent
  border: solid 1px $table
  color: $table
  -webkit-transition: all 300ms ease-in-out
  transition: all 300ms ease-in-out
  &:hover
    background-color: $table
    color: $white
    -webkit-transition: all 300ms ease-in-out
    transition: all 300ms ease-in-out

.btn-light
  background-color: $white
  border: solid 1px $white
  color: $dark
  -webkit-transition: all 300ms ease-in-out
  transition: all 300ms ease-in-out
  &:hover
    color: $white
    border: solid 1px $dark
    background-color: $dark
    -webkit-transition: all 300ms ease-in-out
    transition: all 300ms ease-in-out

.btn-dark
  background-color: #333333
  border: solid 1px $dark
  color: $white
  -webkit-transition: all 300ms ease-in-out
  transition: all 300ms ease-in-out
  &:hover
    color: $dark
    border: solid 1px $white
    background-color: $white
    -webkit-transition: all 300ms ease-in-out
    transition: all 300ms ease-in-out

/*  ----------------------------------------------------
 *7 Price box
 *--------------------------------------------------------

.price_box
  position: relative
  padding: 75px 30px
  margin-bottom: 30px
  text-align: center
  background-color: #f0f2f6
  -webkit-transition: all ease-in-out 0.4s
  transition: all ease-in-out 0.4s
  .price_highlight
    background-color: $table
    font-weight: 700
    text-transform: uppercase
    font-size: 12px
    position: absolute
    top: 0
    left: 0
    padding: 10px 15px
    color: $white
  .price_header
    h4
      font-size: 24px
      margin-bottom: 5px
      font-weight: 600
    h6
      font-size: 14px
      text-transform: capitalize
      color: $body-color
      font-weight: 400
  .date-tag
    padding: 15px 0
    text-transform: capitalize
    color: $dark
    font-size: 48px
    font-weight: 700
    sup
      font-size: 24px
      font-weight: 400
      top: -15px
      left: -7px
      color: $body-color
  .price_features ul
    list-style: none
    padding: 0
    margin: 0
    li
      padding: 7px
      font-size: 14px
      font-weight: 400
  .price_footer
    margin-top: 30px
  &:hover, &.active
    background-color: $white
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15)
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15)
    -webkit-transition: all ease-in-out 0.4s
    transition: all ease-in-out 0.4s

/*  ----------------------------------------------------
 *8 tabs
 *--------------------------------------------------------

.table.event_calender
  position: relative
  min-width: 1000px
  thead.event_title
    background-color: $table
    color: $white
    border: 0
    th
      vertical-align: bottom
      border: 0
      font-size: 18px
      text-transform: capitalize
      font-weight: 600
      i
        font-size: 32px
        float: left
        line-height: 1
      span
        margin-left: 10px
        padding: 3px 0
        display: inline-block
  tbody
    background-color: #f0f2f6
    td, th
      padding: 30px 25px
      border: 0
      vertical-align: middle
      text-align: center
    td img, th img
      border-radius: 4px
      display: block
      max-width: 100px
    td
      &.event_date
        font-weight: 600
        font-size: 30px
        color: #000
        span
          display: block
          font-weight: 400
          font-size: 14px
      &.event_place
        h5
          font-size: 18px
          margin-bottom: 5px
          font-weight: 500
        h6
          font-size: 16px
          line-height: 24px
          font-weight: 500
          margin-bottom: 0
      &.buy_link a
        text-transform: capitalize
        font-weight: 600
        color: $table
        text-decoration: underline
        line-height: 24px
        -webkit-transition: all ease-in-out 0.4s
        transition: all ease-in-out 0.4s
        &:hover
          color: $dark
          -webkit-transition: all ease-in-out 0.4s
          transition: all ease-in-out 0.4s

/* Задаем сброс обтекания

.clear
  margin-top: -1px
  height: 1px
  zoom: 1

/* Slider

.slider
  /* Ширина контейнера
  max-width: 100%
  /* Внешние тступы сверху и снизу
  margin: 50px auto
  /* Внутренние отступы для ссылок navy
  padding: 0 30px
  /* Позиционирование
  position: relative
  &::-moz-selection, &::selection
    background: transparent
    color: $white
    text-shadow: none

/* Двойной клик по кнопкам вперед/назад вызывает выделение всех элементов слайдера,
 *поэтому предотвращаем это

.slide-list
  position: relative
  margin: 0
  padding: 0
  /* Скроем то что выходит за границы
  overflow: hidden

.slide-wrap
  position: relative
  left: 0px
  top: 0
  /* максимально возможная ширина обертки слайдера
  width: 10000000px

.slide-item
  /* Ширина слайда
  max-width: 100%
  /* Внутренние отступы
  padding: 10px
  /* Обтекание
  float: left

.slide-title
  /* Шрифт
  font: bold 16px monospace
  /* Указываем, что элемент блочный
  display: block

/* навигация вперед/назад

.navy
  /* абсолютное позиционирование
  position: absolute
  top: 0
  z-index: 1
  height: 100%
  /* ширина элементов
  width: 30px
  cursor: pointer

.prev-slide
  left: 0
  background: #dbdbdb url(bg/left-arrow.png) 11px 40% no-repeat

.next-slide
  right: 0
  background: #dbdbdb url(bg/right-arrow.png) 13px 40% no-repeat

.navy.disable
  background: #dbdbdb

/* навигация старт/пауза

.auto
  width: 7px
  height: 11px
  cursor: pointer
  margin: 10px auto

.play
  background: url(bg/play.png) center no-repeat

.pause
  background: url(bg/pause.png) center no-repeat

.lnr
  font-family: 'Linearicons-Free'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering ===========
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.lnr-heart:before
  content: "\2764"

*
  box-sizing: border-box
  &::before, &::after
    box-sizing: border-box

.lnr-bubble:before
  content: "\270E"

*
  box-sizing: border-box
  &::before, &::after
    box-sizing: border-box

.heart
  padding-top: 15px